/* Store Banner Block */
.store-banner {
  margin: 50px 0 0;
}

.store-banner-link {
  display: block;
  width: 100%;
  text-decoration: none;
  position: relative;
}

.store-banner picture {
  display: block;
  width: 100%;
}

.store-banner img {
  width: 100%;
  height: auto;
  display: block;
}

/* Responsive spacing */
@media (width <= 768px) {
  .store-banner {
    margin: 30px 0 0;
  }
}
